<div class="tienda">

  <nav class="navbar navbar-expand-md navbar navbar-light " style="background-color: #13112b;">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">
        
          <img src="/img/Logo.png" alt="" width="80" height="80" class="d-inline-block align-text-white ">
          Tecla A/C
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
            
            <div id="categoriasLista" class="dropdown-menu" aria-labelledby="navbarCollapse">
                <ul id="lista-categorias">
                </ul>
            </div>

          </li>
            <a class="navbar-brand text-white" href="http://127.0.0.1:5500/Frontend">Tienda</a>
        
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
              </svg>
            </a>
            <div id="carrito" class="dropdown-menu text-center bg-primary" aria-labelledby="navbarCollapse">
              <table id="lista-carrito" class="table bg-white">
                  <thead>
                      <tr>
                          <th class="bg-primary">Imagen</th>
                          <th class="bg-primary">Nombre</th>
                          <th class="bg-primary">Precio</th>
                          <th class="bg-primary"></th>
                      </tr>
                  </thead>
                  <tbody id="elementosComprar"></tbody>
              </table>
              <div class="btn-group">
                <button id="procesarPedido" type="button" class="btn btn-sm btn-success">Procesar Compra</button>
              </div>
            </div>
          </li>

        </ul>

        <form id="busqueda" class="d-flex">
          <input id="busca" class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" required>
          <button class="btn btn-outline-white  " type="submit">Buscar</button>
        </form>

      </div>
    </div>
  </nav>