  
<%-include ("cabecera/cabecera" ,{tituloWeb: 'Página Administrador'} )%>

<!--tabla de bootstrap -->


    <h3 class="p-3 text-center">A d m i n i s t r a d o r</h3>

    <div class="container">
    <div class="d-flex justify-content-around align-items-center">
        <div class="text-center">
            <a href='http://127.0.0.1:5500/Frontend/index.html' class="btn btn mt-4">
                <img src="/img/tienda1.png" alt="" width="120" height="120" class="rounded-bottom-circle" alt="...">
            </a>
            
            <p>T e c l a _ A C</p>
        </div>
        
        <div class="text-center">
            <a href="/usuarios" class="btn btn mt-4">
                    <img src="/img/usuario.png" alt="" width="120" height="120" class="rounded-bottom-circle" alt="...">
                </a>
            </a>
            <p>U S U A R I O S</p>
        </div>
        
        <div class="text-center">
            <a href="/productos" class="btn btn mt-4">
            
                    <img src="/img/producto.png" alt="" width="120" height="120" class="rounded-bottom-circle" alt="...">
                </a>
            </a>
            <p>P R O D U C T O S</p>
           
        </div>
    </div>


    </div>

    <%-include ("cabecera/footer"  )%>
